<!DOCTYPE html>
<html>
    <head>
        <title>Baybayin</title>
        <link rel="stylesheet" type="text/css" href="static/css/display.css">
    </head>
    <body>
        <nav class="container">
            <a href="capture.html" class="brand">
                <img src="static/images/logo.png">
                BaybaySalin
            </a>
            <div class="menu">
                <a href="#">ABOUT</a>
                <a href="#">FAQS</a>
                <a href="#">CONTACTS</a>
            </div>
        </nav>
        <div class="alt">
            <a href="#">ABOUT</a>
            <a href="#">FAQS</a>
            <a href="#">CONTACTS</a>
        </div>
        <main class="container">
            <div class="info">
                <h1>WHAT IS BayBayinSalin?</h1>
                <p>A multidialect converter from hanunuo, tagbanwam and baybayin to filipino text</p>
            </div>
            <div class="cont container">
                <div class="left">
                    <form action="/" method="post" enctype="multipart/form-data" class="upload-card">
                        <h1>LET'S SEE</h1>
                        <p>The file should png, jpg, jpeg, gif</p>
                        <input type="file" name="img" id="uploadButton" accept="image/*">
                        <input type="submit" id="submitButton">
                        <label class="upload-button" for="uploadButton">
                            <img src="test.jpg" class="preview">
                            <img src="static/images/folder.png" class="icon">
                            <p>Click to upload photo</p>
                        </label>
                        <label class="upload-btn" for="submitButton">
                            <img src="static/images/upload.png">
                        </label>
                        <a type="button" class="delete-button">
                            <img src="static/images/close.png">
                        </a>
                    </form>
                </div>
                <div class="right">
                    <div class="sticky-note">
                        <h1>Dialect</h1>
                        <p>{{ dialect }}</p>
                    </div>
                    <div class="sticky-note">
                        <h1>Translation</h1>
                        <p>{{ out }}</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <p>BayBayinSalin.org - Allright reserved 2021</p>
        </footer>
        <script src="static/jquery/jquery-3.5.1.min.js"></script>
        <script src="static/js/index.js"></script>
    </body>
</html>